body{margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}code{font-family:source-code-pro,Menlo,Monaco,Consolas,"Courier New",monospace}.App{text-align:center}.App-logo{height:40vmin;pointer-events:none}@media (prefers-reduced-motion:no-preference){.App-logo{animation:App-logo-spin 20s linear infinite}}.App-header{background-color:#282c34;min-height:100vh;display:flex;flex-direction:column;align-items:center;justify-content:center;font-size:calc(10px + 2vmin);color:#fff}.App-link{color:#61dafb}@keyframes App-logo-spin{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}.Message_avatar__2Nnlc img{border-radius:30%;width:50px;height:50px}.Message_message__3HWWi{display:flex;align-items:flex-end;margin:10px}.Message_content__2KKAN{padding:10px;border-radius:5px 5px 5px 0;background-color:rgba(255,137,155,.3)}.Message_shape__1_pOv{width:15px;height:15px;background:radial-gradient(circle at 0 0,transparent 15px,rgba(255,137,155,.3) 0)}.Message_text__idHQk{min-width:150px;max-width:300px;word-wrap:break-word;text-align:left}.Message_name__3duAh{font-size:15px;font-weight:700;color:#282c34;text-align:left}.Message_time__8Sinc{display:flex;justify-content:flex-end;color:#282c34}.Affairs_paper__6NI6V{padding:5px;text-align:center;color:#00008b}
/*    !*display: grid;*!*/
/*    !*grid-template-areas:*!*/
/*    !*"nN bX";*!*/
/*    !*"bN bN"*!*/

/*!*.nameN {*!*/
/*!*    color: #254242;*!*/
/*!*    font-size: 29px;*!*/
/*!*    font-family: «Libre Baskerville», serif;*!*/
/*!*    line-height: 25px;*!*/
/*!*    text-align: center;*!*/
/*!*    text-shadow: 0 1px 1px #fff;*!*/
/*!*    padding-top: 10px;*!*/
/*!*    !*font-family: "Monotype Corsiva";*!*!*/
/*!*    !*font-size: 24px;*!*!*/
/*!*    grid-area: nN;*!*/
/*!*    font-style: italic;*!*/
/*!*    font-weight: bold;*!*/
/*!*    !*background-color: #61dafb;*!*!*/
/*!*    padding-left: 10px;*!*/
/*!*    !*opacity: 0.5;*!*!*/

/*!*}*!*/
/*!*.buttonN {*!*/
/*!*    margin-top: 12px;*!*/
/*!*    box-shadow: 0px 10px 40px rgba(0,0,0,0.3);*!*/
/*!*    width: 23.4%;*!*/
/*!*    margin-left: 3.7px;*!*/
/*!*    !*width: 60px;*!*!*/
/*!*    grid-area: bN;*!*/
/*!*    display: inline-block;*!*/
/*!*    color: white;*!*/
/*!*    text-decoration: none;*!*/
/*!*    outline: none;*!*/
/*!*    border-width: 2px 0;*!*/
/*!*    border-style: solid none;*!*/
/*!*    border-color: #FDBE33 #000 #D77206;*!*/
/*!*    border-radius: 6px;*!*/
/*!*    background: linear-gradient(#F3AE0F, #E38916) #E38916;*!*/
/*!*    transition: 0.2s;*!*/
/*!*    box-sizing: border-box;*!*/
/*!*}*!*/

/*!*.buttonX {*!*/
/*!*    grid-area: bX;*!*/
/*!*    width: 30px;*!*/
/*!*    height: 20px;*!*/
/*!*    float: right;*!*/
/*!*    !*display: inline-block;*!*!*/
/*!*    color: #050505;*!*/
/*!*    text-decoration: none;*!*/
/*!*    !*padding: .5em 2em;*!*!*/
/*!*    outline: none;*!*/
/*!*    border-width: 3px 0;*!*/
/*!*    border-style: solid none;*!*/
/*!*    border-color: #FDBE33 #000 #D77206;*!*/
/*!*    border-radius: 6px;*!*/
/*!*    background: linear-gradient(#F3AE0F, #E38916) #E38916;*!*/
/*!*    transition: 0.2s;*!*/
/*!*    box-sizing: border-box;*!*/
/*!*}*!*/.Affairs_middle__2yDRZ{color:#b8860b}.Affairs_low__1Za1j{color:#8fbc8f}.Affairs_high__2I_JJ{color:#dc143c}

/*!*.button {*!*/
/*!*    width: 40px;*!*/
/*!*    background: #61dafb;*!*/
/*!*    outline: none;*!*/
/*!*    margin: 10px;*!*/


/*!*}*!*/.Greeting_error__1ddKG{border:1px solid red}.Greeting_hello__1XDAG{text-align:center}.Greeting_button__3xX1i{background-color:#8fbc8f}.SuperInputText_input__KcjaS:focus{outline:none;border:2px solid #000}.SuperInputText_superInput__2k1N7{margin:5px;background:#ffb6c1;color:#61dafb}.SuperInputText_errorInput__C-G7t{margin:5px;color:#7fffd4;border:3px solid #0f0;background:red}.SuperInputText_error__ksIm4{color:red;height:15px;margin-left:15px}.HW4_blue__SJgud{border-bottom:5px solid #00f}.HW4_column__1OPH4{display:flex;flex-direction:column;align-items:center}.HW4_testSpanError__3wtC7{color:#00f}.SuperButton_default__2gTlV{background:#0ff;color:#000;outline:none}.SuperButton_red__2LZzz{background:red}.SuperButton_button__1KjBJ{position:relative;margin:10px;overflow:hidden;cursor:pointer}.SuperButton_button__1KjBJ :after{display:block;content:"";position:absolute;left:-130%;top:0;height:100%;width:20%;transform:skew(45deg);background-color:#fff;opacity:.5;z-index:14}.SuperButton_button__1KjBJ:hover:after{animation:SuperButton_blink__33-Ov .5s ease}.SuperButton_button__1KjBJ:hover:before{display:block;content:"";position:absolute;left:-100vw;top:0;height:100vh;width:300vw;background-color:#fff;opacity:.5;z-index:7}.SuperCheckbox_checkbox__1QXsL{width:20px;height:20px;margin-right:10px;background:#ffb6c1}
/*# sourceMappingURL=main.0ecfd63f.chunk.css.map */